
<div class="layout-container">

  <header role="banner" class='header'>
    <div class='branding'>
      {{ page.branding }}
    </div>
     <div class='navigation'>
      {{ page.navigation }}
    </div>
     <div class='search'>
      {{ page.search }}
    </div>
  </header>
  <div class="body">
    <div class='primary'>
      {{ page.primary }}
    </div>
    <div class='content'>
      {{ page.content }}
    </div>
    <div class='secondary'>
      {{ page.secondary }}
    </div>
  </div>
  <div class='footer'>
    {{ page.footer }}
  </div>


</div>{# /.layout-container #}
